<div class="film-container">
    <h2 class='film-title'>{{ film.title }}</h2>
    <img class="film-poster" [src]="film.poster"> <br>
    <div class="film-buttons-container">
        <button class='film-button' (click)="openInNewTab(film.trailer)">Trailer</button>
        <button class='film-button' (click)="saveFilm(film.id)">Save</button>
        <button class='film-button' (click)="deleteFilm(film.id)">Delete</button>
    </div>
</div>