.film-container {
    margin-top: 10px;
    margin-bottom: 10px;
    padding-bottom: 10px;
    width: 250px;
    text-align: center;
    background-color: rgba(235, 235, 235, 0.897);
}

.film-title {
    height: 100px;
    text-align: center;
}

.film-poster {
    align-items: center;
    text-align: center;
}

.film-trailer {
    text-decoration: none;
    color: black;
}

.film-buttons-container {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
}

.film-button {
    padding: 5px 10px;
    background: darkgray;
    border-radius: 4px;
}