.nav-buttons-block {
    text-align: center;
    display: flex;
    justify-content: center;
}
.nav-button {
    padding: 10px 20px;
    font-size: 16px;
    font-weight: 700;
    margin-right: 25px;
    margin-left: 25px;
    background-color: darkgray;
}